{% extends "base.html" %}
{% block title %}Список покупок{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}
{% load user_filters %}

<main class="main container">
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in recipes %}
            <li class="shopping-list__item" data-id="{{ recipe.pk }}">
                <div class="recipe recipe_reverse">
                    {% load thumbnail %}
                    {% thumbnail recipe.image "400x400" crop="center" upscale=True as im %}
                        <a href="{% url 'recipes:view_recipe' recipe_id=recipe.pk %}" class="link" target="_blank">
                        <img src="{{ im.url }}"
                            alt="Изображение пока не загружено автором" class="recipe__image recipe__image_big"></a>
                    {% endthumbnail %}
                    <h3 class="recipe__title">{{ recipe.name }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time_cooking }} мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'recipes:download_shop_list' %}"><button class="button button_style_blue">Скачать список</button></a>


    </div>
    {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
</main>

{% endblock %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}
